.name-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
    > h1 {
        width: 100%;
    }
    > h3 {
        width: 100%;
    }
}
.work-section{
    > .work-overview{
        outline: 1px solid black;
        width: 100%;
        display: block;
        height: 150px;
        display: flex;
        > :first-child{
            width: 25%;
        }
        >:last-child{
            width: 75%;
        }
        
    }
}