.name-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
    > h1 {
        width: 100%;
    }
    > h3 {
        width: 100%;
    }
}
.work-section,
.education-section {
    > .work-overview,
    .education-overview {
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        display: block;
        height: 150px;
        display: flex;
        > :first-child {
            width: 25%;
        }
        > :last-child {
            width: 75%;
        }
    }
}

.skills-section {
    margin: 0px;
    padding: 0px;
    > ul {
        margin: 0px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > li {
            width: 48%;
        }
    }
}
